{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="get">
        {% for field in filter.form %}
        <div class="field-wrapper row mb-2">
            <div class="col-3">
                {{ field.label_tag }}
            </div>
            <div class="col">
                {{ field.error }}
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <input type="submit" value="Search" class="btn btn-submit">
    </form>
    {% for item in item_list %}
    {{item.name}}
    {{item.summary}}
    {% for tag in item.tags.all %}
    <a href="?tag={{tag.name}}">{{tag.name}}</a>
    {% endfor %}
    {% endfor %}
    {% include 'components/paginator_bar.html' %}
</div>
{% endblock %}
